<div class="container">
    <div class="header">
        Basic Form in Angular
    </div>
    <div class="content">
        <form [formGroup]="firstFormGroup" (ngSubmit)="submitForm()" novalidate>
        <mat-horizontal-stepper linear="true" #stepper>
            <mat-step>
                <ng-template matStepLabel>Fill out your name</ng-template>
                <div fxLayout="row" fxLayoutGap="20px">
                    <mat-form-field>
                        <input matInput formControlName="firstName" maxlength="16" minlength="3" placeholder="First name" required>
                        <mat-error *ngIf="firstFormGroup?.controls?.firstName?.hasError('required')">The field is required</mat-error>
                        <mat-error *ngIf="firstFormGroup?.controls?.firstName?.hasError('maxlength')">The field size exceeded max length</mat-error>
                        <mat-error *ngIf="firstFormGroup?.controls?.firstName?.hasError('minlength')">The field size is less than min length</mat-error>
                      </mat-form-field>
      
                      <mat-form-field>
                          <input matInput formControlName="lastName" placeholder="Last name" required>
                          <mat-error *ngIf="firstFormGroup?.controls?.lastName?.hasError('required')">The field is required</mat-error>
                          <mat-error *ngIf="firstFormGroup?.controls?.lastName?.hasError('maxlength')">The field size exceeded max length</mat-error>
                          <mat-error *ngIf="firstFormGroup?.controls?.lastName?.hasError('minlength')">The field size is less than min length</mat-error>
  
                        </mat-form-field>
                      <div>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Fill out email and contact</ng-template>
                <div fxLayout="row" fxLayoutGap="20px">
                    <mat-form-field>
                        <input matInput formControlName="email" type="email" placeholder="Enter Email" required>
                        <mat-error *ngIf="firstFormGroup?.controls?.email?.hasError('required')">The field is required</mat-error>
                        <mat-error *ngIf="firstFormGroup?.controls?.email?.hasError('pattern')">It's a invalid email</mat-error>
                      </mat-form-field>
      
                      <mat-form-field>
                          <input matInput type="tel" formControlName="contact" placeholder="Contact" required>
                          <mat-error *ngIf="firstFormGroup?.controls?.contact?.hasError('required')">The field is required</mat-error>
                          <mat-error *ngIf="firstFormGroup?.controls?.contact?.hasError('pattern')">It's not a valid mobile number</mat-error>
                        </mat-form-field>
                      <div>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Confirm Password</ng-template>
                <div fxLayout="row" fxLayoutGap="20px">
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" placeholder="Enter Password" required>
                        <mat-error *ngIf="firstFormGroup?.controls?.password?.hasError('required')">The field is required</mat-error>
                      </mat-form-field>
      
                      <mat-form-field>
                          <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm Password" required>
                          <mat-error *ngIf="firstFormGroup?.controls?.confirmPassword?.hasError('required')">The field is required</mat-error>
                          <mat-error *ngIf="firstFormGroup?.controls?.confirmPassword?.hasError('mustMatch')">The password is mis matched</mat-error>
                        </mat-form-field>
                      <div>
                        <button mat-button type="submit" [disabled]="firstFormGroup.invalid">Submit</button>
                      </div>
                </div>
            </mat-step>
          </mat-horizontal-stepper>
        </form>
    </div>
</div>